{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){        
        {%include "subject/home/home.js"%}
    });

    </script>

    <style>
        [v-cloak] {
        display: none;
        }
    </style>

{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center" v-cloak> 
    <div class="col col-lg-6 mb-4">
        <div class="card">                  
            <div class="card-header">
                <span >{{session_subject.contact_email}}</span>               
                <span class="float-right">
                    {%if session_started and not before_start_date and not session_complete and not session_canceled %}
                        <button v-show="status === 'success'" class="btn btn-outline-primary btn-sm" type="button" v-on:click = "getSessionDaySubjectButton()">
                            <span v-html='refreshButtonText'></span>
                        </button>                    
                        <span v-html = "session_date"></span>
                    {%endif%}
                </span>                                                                  
            </div>
            <div class="card-body">
                {%if status == "fail" %}    
                <div class="row">
                    <div class="col" style="text-align: center;">
                        Invalid login.<br>
                        Please contact <a href="mailto:{{contact_email}}">{{contact_email}}</a> if you have lost your login link.
                    </div>
                </div>
                {%elif session_canceled%}
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            The study has been canceled.<br>
                            <u>Please return your Fitbit.</u><br>
                            No further action is required on your part.
                        </div>
                    </div>
                {%elif not session_started or before_start_date %}
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            The study has not yet started.<br>
                            <div v-if="fitbitError">
                                Please connect your Fitbit before {{start_date}}.<br>
                                <u><a v-bind:href="fitbit_link" style="font-weight: bold;color: red;">Connect Fitbit</a></u>
                            </div>
                            <div v-else>
                                Your Fitbit is connected.<br>
                                The study will begin on {{start_date}}.                                
                            </div>                             
                        </div>
                    </div>
                {%elif session_complete or soft_delete%}
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            The study is complete.<br>
                            <u>Please return your Fitbit.</u><br>
                            Thank you for your participation!
                        </div>
                    </div>
                {%else%}
                    <div v-if='status==="success"'>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8" style="text-align: center;">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" 
                                               name="options" 
                                               id="option1" 
                                               autocomplete="off" 
                                               checked v-on:click="updateToogleState('heart')"> 
                                            <i class="far fa-heart"></i>
                                    </label>
                                    {%if sleep_tracking%}
                                    <label class="btn btn-secondary">
                                        <input type="radio" 
                                               name="options" 
                                               id="option2" 
                                               autocomplete="off" 
                                               v-on:click="updateToogleState('immune')"> 
                                            <i class="fas fa-bed"></i>
                                    </label>
                                    {%endif%}
                                    {%if show_group%}
                                    <label class="btn btn-secondary">
                                        <input type="radio" 
                                               name="options" 
                                               id="option3" 
                                               autocomplete="off" 
                                               v-on:click="updateToogleState('group')"> 
                                            <i class="fas fa-user-friends"></i>
                                    </label>
                                    {%endif%}
                                    <label class="btn btn-secondary" 
                                           v-bind:style="[(viewed_heart === false || viewed_immune === false || viewed_group == false) && session_day_subject_actvity.paypal_today ===false ? {'background-color': 'lightgrey' }:{}]">
                                        <input type="radio" 
                                               name="options" 
                                               id="option2" 
                                               autocomplete="off" 
                                               v-on:click="updateToogleState('payment')"> 
                                            <i class="fas fa-dollar-sign"></i>
                                    </label>                    
                                </div>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <button type="button" class="btn btn-link" id="helpButton" style="text-align: right;" data-placement="bottom" v-on:click="showHelpBox()">
                                    <i class="far fa-question-circle"></i> 
                                </button>
                            </div>
                        </div>
                    
                        <div v-show="toggleState==='heart'">
                            {%include "subject/home/heart_tab.html"%}                            
                        </div>
                        <div v-show="toggleState==='immune'">
                            {%include "subject/home/immune_tab.html"%}
                        </div>  
                        <div v-show="toggleState==='group'">
                            {%include "subject/home/group_tab.html"%}
                        </div>
                        <div v-show="toggleState==='payment'">
                            {%if session_treatment == "I"%}
                                {%include "subject/home/payment_tab_individual.html"%}       
                            {%elif session_treatment == "A" or session_treatment == "B" or session_treatment == "C"%}   
                                {%include "subject/home/payment_tab_ABC.html"%}
                            {%endif%}       
                        </div>

                        <div v-show="toggleState == 'heart' || toggleState == 'immune'">
                            {%include "subject/home/chart.html"%}                           
                        </div>
                        <div v-show="toggleState==='heart'">
                            {%include "subject/home/averages_heart.html"%}   
                        </div>
                        <div v-show="toggleState==='immune'">
                            {%include "subject/home/averages_sleep.html"%}   
                        </div>

                    </div>
                    <div v-else>
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                There was an error loading the study.<br>
                                Please refresh your browser.
                            </div>
                        </div>
                    </div>
                {%endif%}
                
                
            </div>  
            <div class="card-footer">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        Fitbit last synced: <span v-html="fitBitLastSynced" v-bind:style="[fitbitSyncedToday ===false ? {'color': 'red' }:{}]"></span>
                    </div>
                </div>
                {% if not before_start_date %}
                <div class="row mt-2">
                    <div class="col" style="text-align: center;">
                        Today's time on wrist: <span v-html="session_day_subject_actvity.time_on_wrist"></span>
                    </div>
                </div>
                {%endif%}
            </div>                  
        </div>                
    </div>
</div>    

{%include "modals/consentModal.html"%}
{%include "modals/helpModal.html"%}
{%include "modals/questionnaire1Modal.html"%}
{%include "modals/questionnaire2Modal.html"%}

{%endblock content%}