<div v-show="show_averages">
    <div class="row">
        <div class="col" style="text-align: center;">
            Your current average daily heart score is: [[average_heart_score]]
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            Your current average daily sleep score is: [[average_sleep_score]]
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            Your current daily pay for each paid day will be: $[[current_daily_pay]]
        </div>
    </div>
</div>