<div class="row mt-2">
    <div class="col text-center">
        Your daily pay rates for Heart and Sleep Scores are adjusted according to your average level of effort: 
    </div>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-4 border text-center" style="background-color: rgb(241, 240, 240);">
        Average Score
    </div>
    <div class="col-4 border text-center" style="background-color: rgb(241, 240, 240);">
        Pay Rate
    </div>
</div>
<div class="row justify-content-center" v-for="(pay_level, index) in treatment_A_B_C.paylevels" v-bind:key="pay_level.id">

    <div class="col-4 border text-center">
        <span v-if="index>0">
            [[(parseFloat(treatment_A_B_C.paylevels[index-1].score) + .01).toFixed(2)]]-[[pay_level.score]]
        </span>
        <span v-else>
            0.00-[[pay_level.score]]
        </span>
    </div>
    <div class="col-4 border text-center">
        $[[pay_level.value]]
    </div>
</div>
<div class="row mt-2">
    <div class="col text-center">
    </div>
</div>
{%include "subject/home/averages_heart.html"%}
{%include "subject/home/paylevel_heart.html"%}
<div class="row mt-2">
    <div class="col text-center">
    </div>
</div>
{%include "subject/home/averages_sleep.html"%}
{%include "subject/home/paylevel_sleep.html"%}
<div v-show = "session_day_subject_actvity.paypal_today">
    <div class="row mt-2">
        <div class="col text-center">With your current levels of effort, your current Daily Pay for each paid day will be:</div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">Daily Pay =</div>
    </div>
    <div class="row mt-1">
        <div class="col text-center"> 
            <span v-if = "session_day_subject_actvity.fixed_pay_per_day > 0">Fixed Pay + </span>
            (Heart Pay x Average Heart Score) + (Sleep Pay x Average Sleep Score) = 
        </div>
    </div>
    <div class="row mt-1">
        <div class="col text-center"> 
            <span v-if = "session_day_subject_actvity.fixed_pay_per_day > 0">$[[session_day_subject_actvity.fixed_pay_per_day]] + </span>
            ($[[treatment_A_B_C.paylevel_heart]] x [[treatment_A_B_C.average_heart_score]]) + ($[[treatment_A_B_C.paylevel_sleep]] x [[treatment_A_B_C.average_sleep_score]]) =
        </div>
    </div>
    <div class="row mt-1">
        <div class="col" style="text-align: center;">$[[treatment_A_B_C.current_daily_pay]]</div>
    </div>
</div>
    