{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                sessions:[],
                createSessionButtonText : 'Create Session <i class="fas fa-plus"></i>',
                dateSortButtonText: 'Date <i class="fas fa-sort"></i>',
                titleSortButtonText: 'Title <i class="fas fa-sort"></i>',
                helpTitle:"Create Session Help",
                helpText:`{{help_text|safe}}`,
            },

            methods:{

                //create new experient
                getSessions:function(){                    
                    
                    axios.post('/staffHome/', {
                                    action :"getSessions" ,                                                                                                                                                                
                                })
                                .then(function (response) {     
                                    app.updateSessions(response);                                              
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });                        
                },
                
                //create new experient
                createSession:function(){                    
                    app.$data.createSessionButtonText ='<i class="fas fa-spinner fa-spin"></i>';
                    axios.post('/staffHome/', {
                                    action :"createSession" ,                                                                                                                                                                
                                })
                                .then(function (response) {     
                                    app.updateSessions(response);      
                                    app.$data.createSessionButtonText = 'Create Session <i class="fas fa-plus"></i>';                                        
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });                        
                },
                
                //update the experiment list from server
                updateSessions:function(response){
                    app.$data.sessions = response.data.sessions;       
                    //app.updateCanvas();                 
                },

                //delete the selected experiment
                deleteSession:function(id){
                if(confirm("Delete Session?"))
                {
                    axios.post('/staffHome/', {
                            action :"deleteSession" ,
                            id:id,                                                                                                                             
                        })
                        .then(function (response) {   
                            app.updateSessions(response);                                                                          
                        })
                        .catch(function (error) {
                            console.log(error);
                        });                        
                    }
                },

                sortByDate:function(){

                    app.$data.dateSortButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    app.$data.sessions.sort(function(a, b) {
                        return new Date(b.start_date) - new Date(a.start_date);

                    });

                    app.$data.dateSortButtonText = 'Date <i class="fas fa-sort"></i>';
                    },

                //sort by title
                sortByTitle:function(){

                    app.$data.titleSortButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    app.$data.sessions.sort(function(a, b) {
                        a=a.title.trim().toLowerCase();
                        b=b.title.trim().toLowerCase();
                        return a < b ? -1 : a > b ? 1 : 0;
                    });

                    app.$data.titleSortButtonText = 'Title <i class="fas fa-sort"></i>';
                    },
                            
            },

            mounted: function(){
                this.getSessions();                      
            },
        });

    });

    </script>
    <style>
        .table_header{
            font-weight:bold;
            font-size: 16px;
        }
    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <div class="col col-lg-10">
        <div class="card">                  
            <div class="card-header">
                test
                <span class="float-right">
                    <button class="btn btn-outline-success" type="button" v-on:click = "createSession()">
                        <span v-html="createSessionButtonText"></span>
                    </button>
                </span>
                                                                
            </div>
            <div class="card-body">                      
                                
                <!-- session list -->
                <table class="table table-hover table-condensed">                            

                    <caption style="caption-side:top;text-align: center;">Sessions</caption>

                    <thead>
                        <th>
                            <button type="button" class="btn btn-outline-link btn-sm" v-on:click = "sortByTitle()">
                                <span v-html="titleSortButtonText" class="table_header"></span>
                            </button>
                        </th> 
                        <th style="text-align: center;">
                            <button type="button" class="btn btn-outline-link btn-sm" v-on:click = "sortByDate()">
                                <span v-html="dateSortButtonText" class="table_header"></span>
                            </button>                             
                        </th>
                        <th style="text-align: center;">
                            Current Period
                        </th>
                        <th style="text-align: center;">
                            Yesterday's Auto Payments
                        </th>
                        <th style="text-align: center;">
                            Treatment
                        </th>                                                      
                        <th style="text-align: center;">
                            Control
                        </th>
                    </thead>

                    <tbody id="sessionList">                                                  
                        <tr v-for="(s,index) in sessions" v-bind:key="s.id">                                                                          
                            <td> 
                                <a :href="'/session/' + s.id + '/' "><span v-html="s.title"></span></a>                                        
                            </td>
                            <td style="text-align: center;"> 
                                <span v-html="s.start_date"></span> to <span v-html="s.end_date"></span>                                   
                            </td>
                            <td style="text-align: center;">      
                                <div v-if="s.complete">
                                    Complete
                                </div>
                                <div v-else>
                                    <span v-html="s.current_period"></span> 
                                </div>                                                             
                            </td>
                            <td style="text-align: center;">                                        
                                <span v-html="s.payments_sent_yestery"></span>                                       
                            </td> 
                            <td style="text-align: center;">                                        
                                <span v-html="s.treatment_label"></span>                                       
                            </td>                               
                            <td style="text-align: center;">
                                <span v-if="s.allow_delete">
                                    <button v-bind:id="'deleteSession' + s.id" type="button" class="btn btn-outline-danger btn-sm" v-on:click = "deleteSession(s.id)">
                                        Delete <i class="fas fa-user-minus fa-xs"></i>  
                                    </button>
                                </span>
                            </td>                            
                        </tr>                                                    
                    </tbody>
                    
                </table>                 
                
            </div>                    
        </div>                
    </div>
</div>    

{%endblock content%}