{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                sessionParametersBeforeEdit:{},                     //store session before editing to restore if canceled
                session:{title:"",                                  //session and parameter set values
                         start_date:"",
                         parameterset:{id:"",
                                        number_of_days:"",
                                        number_of_players:"",

                                        heart_activity_inital:"",
                                        heart_parameter_1:"",
                                        heart_parameter_2:"",
                                        heart_parameter_3:"",

                                        immune_activity_inital:"",
                                        immune_parameter_1:"",
                                        immune_parameter_2:"",
                                        immune_parameter_3:"",

                                        treatment_pay_1:"",
                                        treatment_pay_2:"",
                                        treatment_pay_3:"",

                                        treatment_3_heart_bonus:"",
                                        treatment_3_immune_bonus:"",
                                        treatment_3_bonus_target_count:"",

                                        treatment_1_day_count:"",
                                        treatment_2_day_count:"",
                                        treatment_3_day_count:"",}
                        },
                session_subjects:[],              //list of subjects in this session 
                cancelModal:false,                //if modal is canceled reload old values
                currentSubject:{},                //current subject being edited
                currentSubjectIndex:-1,           //index of current subject being edited
                addSubjectButtonText:'Add Subject <i class="fas fa-plus"></i>',
            },

            methods:{

                //create new experient
                getSession:function(){                    
                    
                    axios.post('/session/{{id}}/', {
                                    action :"getSession" ,                                                                                                                                                                
                                })
                                .then(function (response) {     
                                    app.updateSession(response);   
                                    app.updateSubjects(response);                                        
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });                        
                },
                
                
                //update the experiment list from server
                updateSession:function(response){
                    app.$data.session = response.data.session;      
                                    
                },

                //update the experiment list from server
                updateSubjects:function(response){
                    app.$data.session_subjects = response.data.session_subjects;      
                                    
                },

                //delete the selected experiment
                deleteSubject:function(id){
                    if(confirm("Delete Subject?"))
                    {
                        axios.post('/session/{{id}}/', {
                            action :"deleteSubject" ,
                            id:id,                                                                                                                             
                        })
                        .then(function (response) {   
                            app.updateSubjects(response);                                                                          
                        })
                        .catch(function (error) {
                            console.log(error);
                        });                        
                    }
                },

                //create new experient
                addSubject:function(){                    
                    app.$data.addSubjectButtonText ='<i class="fas fa-spinner fa-spin"></i>';
                    axios.post('/session/{{id}}/', {
                                    action :"addSubject" ,                                                                                                                                                                
                                })
                                .then(function (response) {     
                                    app.updateSubjects(response);       
                                    app.$data.addSubjectButtonText = 'Add Subject <i class="fas fa-plus"></i>';                                        
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });                        
                },

                //update session parameters
                updateParameters:function(){                    
                    app.$data.cancelModal=false;

                    axios.post('/session/{{id}}/', {
                                    action :"updateParameters" ,      
                                    formData : $("#parametersetForm").serializeArray(),                                                                                                                                                          
                                })
                                .then(function (response) {     
                                    status=response.data.status;                               

                                    app.clearMainFormErrors();

                                    if(status=="success")
                                    {
                                        app.updateSession(response);       
                                        $('#editSessionParametersModal').modal('toggle');    
                                    } 
                                    else
                                    {
                                        app.$data.cancelModal=true;                           
                                        app.displayErrors(response.data.errors);
                                    }                                   
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });                        
                },

                //update session parameters
                updateSessionSettings:function(){                    
                    app.$data.cancelModal=false;

                    axios.post('/session/{{id}}/', {
                                    action :"updateSession" ,      
                                    formData : $("#sessionForm").serializeArray(),                                                                                                                                                          
                                })
                                .then(function (response) {     
                                    status=response.data.status;                               

                                    app.clearMainFormErrors();

                                    if(status=="success")
                                    {
                                        app.updateSession(response);       
                                        $('#editSessionModal').modal('toggle');    
                                    } 
                                    else
                                    {
                                        app.$data.cancelModal=true;                           
                                        app.displayErrors(response.data.errors);
                                    }                                   
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });                        
                },

                //update subject parameters
                updateSubjectSettings:function(){                    
                    app.$data.cancelModal=false;

                    axios.post('/session/{{id}}/', {
                                    action :"updateSubject" ,
                                    ss_id : app.$data.currentSubject.id,      
                                    formData : $("#subjectForm").serializeArray(),                                                                                                                                                          
                                })
                                .then(function (response) {     
                                    status=response.data.status;                               

                                    app.clearMainFormErrors();

                                    if(status=="success")
                                    {
                                        app.updateSubjects(response);       
                                        $('#editSubjectModal').modal('toggle');    
                                    } 
                                    else
                                    {
                                        app.$data.cancelModal=true;                           
                                        app.displayErrors(response.data.errors);
                                    }                                   
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });                        
                },

                //show edit parameters modal
                showEditParameters:function(){
                    app.clearMainFormErrors();
                    app.$data.cancelModal=true;
                    app.$data.sessionParametersBeforeEdit = Object.assign({}, app.$data.session.parameterset);
                    $('#editSessionParametersModal').modal('show');                   
                },

                //fire when edit experiment model hides, cancel action if nessicary
                hideEditParameters:function(){
                    if(app.$data.cancelModal)
                    {
                        Object.assign(app.$data.session.parameterset, app.$data.sessionParametersBeforeEdit);
                        app.$data.sessionBeforeEdit=null;
                    }
                },

                //show edit parameters modal
                showEditSession:function(){
                    app.clearMainFormErrors();
                    app.$data.cancelModal=true;
                    app.$data.sessionBeforeEdit = Object.assign({}, app.$data.session);
                    $('#editSessionModal').modal('show');                   
                },

                //fire when edit experiment model hides, cancel action if nessicary
                hideEditSession:function(){
                    if(app.$data.cancelModal)
                    {
                        Object.assign(app.$data.session, app.$data.sessionBeforeEdit);
                        app.$data.sessionBeforeEdit=null;
                    }
                },

                //show edit parameters modal
                showEditSubject:function(s_id,index){
                    app.clearMainFormErrors();
                    app.$data.cancelModal=true;
                    app.$data.currentSubjectIndex = index
                    app.$data.subjectBeforeEdit = Object.assign({}, app.$data.session_subjects[index]);
                    app.$data.currentSubject = app.$data.session_subjects[index];
                    $('#editSubjectModal').modal('show');                   
                },

                //fire when edit experiment model hides, cancel action if nessicary
                hideEditSubject:function(){
                    if(app.$data.cancelModal)
                    {
                        index = currentSubjectIndex;

                        if(index != -1)
                        {
                            Object.assign(app.$data.session_subjects[index], app.$data.subjectBeforeEdit);
                            app.$data.subjectBeforeEdit=null;
                        }
                    }
                },
            
                displayErrors:function(errors){
                    for(var e in errors)
                    {
                        $("#id_" + e).attr("class","form-control is-invalid")
                        var str='<span id=id_errors_'+ e +' class="text-danger">';
                        
                        for(var i in errors[e])
                        {
                            str +=errors[e][i] + '<br>';
                        }

                        str+='</span>';
                        $("#div_id_" + e).append(str); 

                        var elmnt = document.getElementById("div_id_" + e);
                        elmnt.scrollIntoView(); 

                    }
                }, 

                clearMainFormErrors:function(){
                    for(var item in app.$data.session.parameterset)
                    {
                        $("#id_" + item).attr("class","form-control");
                        $("#id_errors_" + item).remove();
                    }

                    for(var item in app.$data.session)
                    {
                        $("#id_" + item).attr("class","form-control");
                        $("#id_errors_" + item).remove();
                    }
                },       
            },

            mounted: function(){
                this.getSession();        
                $('#editSessionParametersModal').on("hidden.bs.modal", this.hideEditParameters);  
                $('#editSessionModal').on("hidden.bs.modal", this.hideEditSession);            
            },
        });

    });

    </script>
    <style>
        .table_header{
            font-weight:bold;
            font-size: 16px;
        }
    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <div class="col col-lg-12">
        <div class="row">
            <div class="col">
                <!-- parameters card -->
                <div class="card">
                    <div class="card-header">
                        <span class="align-middle">Parameters</span>
                        
                        <span class="float-right">
                            <button class="btn btn-outline-primary" type="button" v-on:click = "showEditParameters()">
                                Edit <i class="far fa-edit"></i>
                            </button>
                        </span>
                                                                        
                    </div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col" style="text-align: center;">
                                Activity<sub>T</sub> = Activity<sub>T-1</sub> * (1 - (1 - Activity<sub>T-1</sub>) * (P1 / P2  - FitBit<sub>T-1</sub> / (FitBit<sub>T-1</sub> + P3))
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.heart_activity_inital.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.heart_activity_inital"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.immune_activity_inital.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.immune_activity_inital"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.heart_parameter_1.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.heart_parameter_1"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.immune_parameter_1.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.immune_parameter_1"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.heart_parameter_2.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.heart_parameter_2"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.immune_parameter_2.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.immune_parameter_2"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.heart_parameter_3.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.heart_parameter_3"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.immune_parameter_3.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.immune_parameter_3"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col" style="text-align: center;">
                               Earnings<sub>T</sub> ($) = TreatmentPay * (HeartActivity<sub>T</sub> + ImmuneActivity<sub>T</sub>)
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_pay_1.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_pay_1"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_1_day_count.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_1_day_count"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_pay_2.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_pay_2"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_2_day_count.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_2_day_count"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_pay_3.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_pay_3"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_3_day_count.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_3_day_count"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col" style="text-align: Center;">
                               Treatment 3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_3_heart_bonus.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_3_heart_bonus"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_3_immune_bonus.label}}:
                             </div>
                             <div class="col">
                                 <span v-html="session.parameterset.treatment_3_immune_bonus"></span>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{parameterset_form.treatment_3_bonus_target_count.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.parameterset.treatment_3_bonus_target_count"></span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col">
                <!-- session card -->
                <div class = "card">
                    <div class="card-header">
                        <span class="align-middle">Session</span>
                        
                        <span class="float-right">
                            <button class="btn btn-outline-primary" type="button" v-on:click = "showEditSession()">
                                Edit <i class="far fa-edit"></i>
                            </button>
                        </span>
                                                                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                {{session_form.title.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.title"></span>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{session_form.start_date.label}}:
                            </div>
                            <div class="col">
                                <span v-html="session.start_date"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <!-- subject card -->
                <div class="card">                  
                    <div class="card-header">
                        <span class="align-middle">Subjects</span>
                        
                        <span class="float-right">
                            <button class="btn btn-outline-success" type="button" v-on:click = "addSubject()">
                                <span v-html="addSubjectButtonText"></span>
                            </button>
                        </span>
                                                                        
                    </div>
                    <div class="card-body">                      
                                        
                        <!-- session list -->
                        <table class="table table-hover table-condensed">                            

                            <!-- <caption style="caption-side:top;text-align: center;">Subjects</caption> -->

                            <thead>
                                <th width="20%">
                                    Name
                                </th> 
                                <th width="40%" style="text-align: center;">
                                    Login Link                    
                                </th>
                                <th width="25%" style="text-align: center;">
                                    FitBit
                                </th>                                                      
                                <th width="15%" style="text-align: center;">
                                    Control
                                </th>
                            </thead>

                            <tbody id="subjectList">                                                  
                                <tr v-for="(s,index) in session_subjects" v-bind:key="s.id">                                                                          
                                    <td> 
                                        <span v-html="s.name"></span>                                      
                                    </td>
                                    <td style="text-align: center;"> 
                                        <span v-html="s.login_url"></span>                           
                                    </td>
                                    <td style="text-align: center;">                                        
                                        <a :href="s.fitBitLink"><span v-html="'Setup'"></span></a>                                   
                                    </td>                               
                                    <td style="text-align: center;">
                                        <button v-bind:id="'editSubject' + s.id" type="button" class="btn btn-outline-primary btn-sm" v-on:click = "showEditSubject(s.id,index)">
                                            Edit <i class="far fa-edit"></i>  
                                        </button> | 
                                        <button v-bind:id="'deleteSubject' + s.id" type="button" class="btn btn-outline-danger btn-sm" v-on:click = "deleteSubject(s.id)">
                                            Delete <i class="fas fa-user-minus fa-xs"></i>  
                                        </button>
                                    </td>                            
                                </tr>                                                    
                            </tbody>
                            
                        </table>                 
                        
                    </div>                    
                </div>
            </div>
        </div>
                        
    </div>
</div>    

{%include "modals/editSessionParametersModal.html"%}
{%include "modals/editSessionModal.html"%}
{%include "modals/editSubjectModal.html"%}

{%endblock content%}