{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 

  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">
          Reset Password
        </div>
  
        <div class="card-body">         

          <form method="post" action="">
            {% csrf_token %}            
            <div class="row">
              <div class = "col col-md-8 offset-md-2">  
                {{ form.email|as_crispy_field }}            
              </div>            
            </div>  

            <div class="row">
                <div class="col col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-outline-primary">Send <i class="fas fa-envelope"></i></button>
                </div>
            </div>           
            
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}