{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-md-center">
      <div class="col col-md-6">
        <div class="card">
          <div class="card-header">
            Password Changed
          </div>
    
          <div class="card-body">
            <center>
              Your password had been changed.<br>
              <a href="{% url 'login' %}">Log in again</a>
              </center>
          </div>
        </div>
      </div>
    </div>

{% endblock %}