{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-md-6">
          <div class="card">
            <div class="card-header">
              New Password
            </div>
      
            <div class="card-body">                   
              <form method="post" action="">
                {% csrf_token %}
                {% if validlink %}            
                    <div class="row">
                        <div class = "col col-md-8 offset-md-2">  
                            {{ form.new_password1|as_crispy_field }}           
                        </div>            
                    </div>  
                    <div class="row">
                        <div class = "col col-md-8 offset-md-2">  
                            {{ form.new_password2|as_crispy_field }}          
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-outline-primary">Change Password <i class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </div>                   
                {% else %}
                    <div class="row">
                        <div class="col">
                            <Center>
                            The password reset link was invalid, possibly because it has already been used.<br><br>
                            Please request a new password reset.<br>
                            <a href="{% url 'password_reset' %}">Send New Link</a>
                            </center>
                        </div>
                    </div>
                {% endif %}
                
              </form>    
            </div>
          </div>
        </div>
      </div>
{% endblock %}