<div v-show="baseline_payment === true">
    {%include "subject/home/payment_tab/ABC/payment_tab_ABC_baseline.html"%}
</div>
<div v-show="baseline_payment === false">
    {%if session_treatment == "A"%}
        {%include "subject/home/payment_tab/ABC/payment_tab_A.html"%}    
    {%elif session_treatment == "B"%}
        {%include "subject/home/payment_tab/ABC/payment_tab_B.html"%} 
    {%elif session_treatment == "C"%}
        {%include "subject/home/payment_tab/ABC/payment_tab_B.html"%} 
    {%endif%}
</div>
<div v-show="baseline_payment != 'start'">
    {%include "subject/home/payment_tab/ABC/payment_tab_ABC_checkin.html"%}
</div>