{% load crispy_forms_tags %}
<!-- consent modal -->  
<div class="modal" id="consentModal" tabindex="-1" role="dialog" aria-labelledby="consentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="consentModalTitle">ADULT INFORMED CONSENT TO PARTICIPATE IN RESEARCH</h5>
            
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div v-html = "consent_form_text">
                        </div>
                    </div>
                </div>
                
                <div class="row mt-2">
                    <div class="col" style="text-align: right;">
                        <b>I agree to the statement above.</b>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <input style="text-align:right;max-width: 400px;" class="form-control float-right" v-model="consent_signature" id="consentSignature" placeholder="Type your full name" autocomplete="off">
                    </div>
                </div>             
                <div class="row mt-2">
                    <div class="col" style="text-align: right;">
                        <span v-html = "consent_signature" style="font-family:Brush Script MT;font-size: larger;"></span>
                        <button type="button" class="btn btn-outline-primary" v-on:click = "acceptConsentForm()">
                            Submit <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>