{% load crispy_forms_tags %}
  
<div class="modal" id="importParametersModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalTitle">Import parameters from another session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="parametersImportForm">
                    {% for i in import_parameters_form %}
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ i|as_crispy_field }}         
                        </div>            
                    </div> 
                    {% endfor %}
                </form>                                                                
            </div>    
            <div class="modal-footer">             
                <button type="button" class="btn btn-outline-primary" v-on:click = "importParameters()">
                    Import <i class="fas fa-file-import"></i>
                </button>
            </div>        
        </div>
    </div>
</div>