{% load crispy_forms_tags %}

<div class="modal" id="viewSessionDayModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalTitle">Surveys</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-condensed table-responsive-lg">                            

                    <!-- <caption style="caption-side:top;text-align: center;">Subjects</caption> -->
                    <thead>
                        <tr>
                            <th scope="col" class = "m-1 p-1">
                                Period
                            </th> 
                            <th scope="col" class = "text-center m-1 p-1">
                                Link
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Enabled
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Control
                            </th>
                        </tr> 
                    </thead>
                    <tbody id="subjectList">                                                  
                        <tr v-for="(s, index) in session.session_days" v-bind:key="s.id">
                            <td class = "text-nowrap m-1 p-1">
                                [[s.period_number]]
                            </td>
                            <td class = "text-center text-nowrap m-1 p-1">
                                [[s.survey_link]]
                            </td>
                            <td class = "text-center text-nowrap m-1 p-1"> 
                                <span v-if="s.survey_required==1">
                                    Yes
                                </span>
                                <span v-else>
                                    No
                                </span>
                            </td>
                            <td class = "text-center text-nowrap m-1 p-1"> 
                                <button class="btn btn-outline-primary btn-sm" type="button" v-on:click = "showEditSessionDayModal(index)" v-show="session.started == false"> 
                                    <i class="far fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
                    
        </div>
    </div>
</div>