{% extends "base.html" %}

{% block content %}
<div class="row justify-content-lg-center">
    <div class="col col-lg-6">
        <div class="card">                  
            <div class="card-header">
                The Economic Science Institute                                                              
            </div>
            <div class="card-body"> 
                Sign up for paid research experiments here: <a href="https://experiments.chapman.edu/">https://experiments.chapman.edu/</a>
            </div>
        </div>
    </div>
{% endblock %}