<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Bart Wilson, Chapman University</title>  

        <meta charset="UTF-8" CONTENT="NO-CACHE">

        <script type="text/javascript">

            function redirect() {
                window.location.href = "https://www.bartjwilson.com";
            }
        
        </script>

        <style>
            .container {
                height: 100vh;
                position: relative;
                /* border: 3px solid green; */
            }

            .center {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                font-size: 25px;
            }            
        </style>
     
    </head>

    <body  onload="redirect()"> 

        <div class="container">
            <div class="center">
                <p>This site has moved: <a href="https://www.bartjwilson.com">https://www.bartjwilson.com</p>
            </div>
        </div>
        
    </body>

</html>